body, html{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    background: #fe8c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h2{
    padding-top: 50px;
    text-align: center;
}
table{
    text-align: center;
}
thead{
    font-weight: bold;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}