body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666666;
}
h2{
    padding-top: 10px;
}
.table{
    margin-top: 20px;
}
.container{
    height: 500px;
}

.pimg1, .pimg2, .pimg3{
    position:relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /*fixed background effect, for parallax,------scroll equals normal effects*/
    background-attachment: fixed;
}

.pimg1{
    background-image: url('../images/image1.jpeg');
    min-height: 100%;
}

.pimg2{
    background-image: url('../images/image2.jpeg');
    min-height: 400px;
}

.pimg3{
    background-image: url('../images/image3.jpeg');
    min-height: 400px;
}

.section{
    text-align: center;
    padding: 50px 80px;

}

.sectionLight{
    background-color: #f4f4f4;
    color: #666666;
}

.sectionDark{
    background-color: #282e34;
    color: #dddddd;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    /*color: white;*/
    color: #000000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext, .border{
    /*background-color: #111111;*/
    background-color: red;
    color: #ffffff;
    padding: 20px;
}

.ptext, .border.trans{
    background-color: transparent;
}

/*responsiveness when in smaller resolutions, like mobile devices*/
@media(max-width: 568px){
    .pimg1, .pimg2, .pimg3{
        background-attachment: scroll;
    }
}