body, html{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin: auto auto;
}
h2{
    padding-top: 10px;
}
.table{
    margin-top: 20px;
}
 .parallax{
    background-image: url("https://images.pexels.com/photos/159888/pexels-photo-159888.jpeg?cs=srgb&dl=blur-business-chart-159888.jpg&fm=jpg"); 
        height: 100%; 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}