html, body{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-gap: 20px;
    padding: 80px;
}
.portfolio{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);   
}
.img-grid img{
    width: 100%;
    box-shadow: var(--shadow);
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
.pf:hover{
    /*opacity: 0.6;*/
    cursor: pointer;
    -webkit-transform:scale(1.12); /* Safari and Chrome */
    -moz-transform:scale(1.12); /* Firefox */
    -ms-transform:scale(1.12); /* IE 9 */
    -o-transform:scale(1.12); /* Opera */
     transform:scale(1.12);
}
.img-grid{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
}