html, body{
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    width: 50%;
    margin: 100px auto;
}
td, th {
    border: 3px solid #dddddd;
    padding: 20px;
    text-align: center;
}
#r1{
    background-color: rgba(0, 100, 255, 0.9);
}
#r2{
    background-color: rgba(0, 100, 255, 0.8);
}
#r3{
    background-color: rgba(0, 100, 255, 0.7);
}
#r4{
    background-color: rgba(0, 100, 255, 0.6);
}
#r5{
    background-color: rgba(0, 100, 255, 0.5);
}
#r6{
    background-color: rgba(0, 100, 255, 0.4);
}
#r7{
    background-color: rgba(0, 100, 255, 0.3);
}
#r8{
    background-color: rgba(0, 100, 255, 0.2);
}
#r9{
    background-color: rgba(0, 100, 255, 0.1);
}
#h1{
    background-color: hsla(216, 100%, 50%, 0.9);
}
#h2{
    background-color: hsla(216, 100%, 50%, 0.8);
}
#h3{
    background-color: hsla(216, 100%, 50%, 0.7);
}
#h4{
    background-color: hsla(216, 100%, 50%, 0.6);
}
#h5{
    background-color: hsla(216, 100%, 50%, 0.5);
}
#h6{
    background-color: hsla(216, 100%, 50%, 0.4);
}
#h7{
    background-color: hsla(216, 100%, 50%, 0.3);
}
#h8{
    background-color: hsla(216, 100%, 50%, 0.2);
}
#h9{
    background-color: hsla(216, 100%, 50%, 0.1);
}
/*#h1{
    background-color: hsla(39, 97%, 71%, 0.9);
}
#h2{
    background-color: hsla(39, 97%, 71%, 0.8);
}
#h3{
    background-color: hsla(39, 97%, 71%, 0.7);
}
#h4{
    background-color: hsla(39, 97%, 71%, 0.6);
}
#h5{
    background-color: hsla(39, 97%, 71%, 0.5);
}
#h6{
    background-color: hsla(39, 97%, 71%, 0.4);
}
#h7{
    background-color: hsla(39, 97%, 71%, 0.3);
}
#h8{
    background-color: hsla(39, 97%, 71%, 0.2);
}
#h9{
    background-color: hsla(39, 97%, 71%, 0.1);
}*/