#flag{
    border-collapse: collapse;
    text-align:center; 
    font-size:22px;
    height: 200px;
}
#starcell{
    background-color: blue;
    padding: 10px;
}
#stars{
    color: white;
    letter-spacing: 10px;
}
.red_stripe{
    background-color: red;
    width: 100%;
    height: 40px;
}
.white_stripe{
    background-color: white;
    width: 100%;
     height: 40px;
}