table{
    border-collapse: collapse;
    width: 100%;
    background: #0984e3;
}
td{
    border: 3px solid #dddddd;
}
canvas{
    padding: 0px;
}


#cm{
    border: 2px solid blue;
    padding: 20px;
    background: url("bmw.jpg");
}