table{
    width: 100%;
    border-collapse: collapse;
}
th,tr,td{
    border: 1px solid #888888;
    padding: 7px;
}
th{
    text-align: center;
}
tr{
    text-align: left;
}
#footer-row{
    text-align: center;
}
tr:nth-child(even){
    background-color: #dddddd;
}