body, html{
    margin: 0;
    padding: 0;
    background-color: #d5d5d5;
}
.main{
    display: table;
    margin: 0 auto;
}
.gcontainer{
    display: table-cell; 
    vertical-align: middle;
    text-align:center;
}
h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 50px;
    padding: 80px 50px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
  }
.retroshadow {
    color: #2c2c2c;
    /*background-color: #d5d5d5;*/
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px #d5d5d5, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
  }
  /* .home-btn{
      float: left;
      text-decoration: none;
      padding-left: 60px;
      padding-top: 40px;
      font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  } */
  .home-btn{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    display: inline-block;

    background: /*#2d3436*/ transparent;

    text-decoration: none;

    color: #34495e;

    margin: 1.5em 1.5em;

    padding: 1em 2em;

    border: 2px solid #2c3e50;

    /* outline: 1px solid rgba(255,255,255,0.7); */
    outline: 1px solid rgba(44, 62, 80,1.0);

    transition: all 0.7s;

    text-align: center;

}

.home-btn:hover{

    /*background: #eaeaea;

    color: #2d3436*/

    text-shadow: 0 0 20px rgba(44, 62, 80,1.0);

    box-shadow: inset 0 0 20px rgba(255,255,255,0.2), 0 0 20px rgba(255,255,255,0.3);

    outline-color: rgba(255, 255, 255, 0);

    outline-offset: 15px;

}