/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }
main{
  /*like why change the bg color? i will never understand?*/
  background-color:#6610f2;
}
  /* logo / item styles in navbar */
  #logo{
      height: 100%;
      margin-top: -3px;
      margin-right: 10px;
  }
  .nav-item{
      margin-right: 12px;
  }
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }

  #c1{
      /* background-image: url("https://images.pexels.com/photos/266044/pexels-photo-266044.jpeg?cs=srgb&dl=architecture-blur-bridge-266044.jpg&fm=jpg"); */
      background-image: url("https://images.pexels.com/photos/248159/pexels-photo-248159.jpeg?cs=srgb&dl=city-dark-dawn-248159.jpg&fm=jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
  }
  #c2{
    background-image: url("https://images.pexels.com/photos/368685/pexels-photo-368685.jpeg?cs=srgb&dl=automotive-black-car-368685.jpg&fm=jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#c3{
    background-image: url("https://images.pexels.com/photos/707047/pexels-photo-707047.jpeg?cs=srgb&dl=car-clouds-countryside-707047.jpg&fm=jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
    color: #222222;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
    background-color: #777;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  /* flexbox - middle column will be streched a bit */
  /* #flex-container{
      display: flex;
      align-items: stretch;
  }
  #flex-mid{
      flex-basis: 200px;
  } */
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  .featurette-image{
      object-fit: cover;
      width: 100%;
      height: 100%;
      margin: auto;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  